<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>管理员 - 审核</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="static/admin/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="static/admin/css/public.css" media="all" />
	<style>
		input::-webkit-input-placeholder {
			font-size: 10px;
		}

		.layui-table img {
			max-width: 100px;
		}
	</style>
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" placeholder="姓名-身份证后6位-学号" />
				</div>
				<div class="layui-input-inline">
					<input style="font-size: 8px;width: 270px;text-align: center" type="text" class="layui-input searchTime" placeholder="开始时间 - 结束时间" />
				</div>
				<a class="layui-btn search_btn" data-type="reload">搜索</a>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
			</div>
		</form>
	</blockquote>
	<table id="personnelList" lay-filter="personnelList"></table>

	<!--操作-->
	<!--<script type="text/html" id="userListBar">-->
		<!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
		<!--<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="usable">已启用</a>-->
		<!--<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>-->
	<!--</script>-->
</form>
<script type="text/javascript" src="static/admin/layui/layui.js"></script>
<script type="text/javascript" src="static/admin/js/faceReviewList.js"></script>
<script type="text/javascript" src="static/admin/js/jquery.js"></script>
<script type="text/javascript" src="static/admin/js/adminBase.js"></script>
<script>

	//编辑页面调用刷新当前页
	function updateTable(pageCode) {
        layui.table.reload('personnelListTable',{page: {curr: parseInt(pageCode)}});
    }

</script>
</body>
</html>